
#home-footer {
    text-align: center;
    border-top: 2px solid darkslateblue ;
}

h2 {
    text-align: center;
    font-stretch: condensed;
    margin-top: 1.3rem;
}

#icons {
    display: flex;
}

#icons:hover {
    cursor: pointer;
}